<!-- <ion-split-pane contentId="main-content"> -->
<ion-menu contentId="main-content" menuId="mainM" type="overlay">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Menú</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-menu-toggle auto-hide="false" *ngIf="user">
                <ion-item (click)="navigate('/auth/login')">
                    <ion-icon slot="start" name="person-circle-outline"></ion-icon>
                    <ion-label>Hola {{ user.username }} </ion-label>
                </ion-item>
                <ion-item (click)="navigate('/folder/Inbox')">
                    <ion-icon slot="start" name="person-circle-outline"></ion-icon>
                    <ion-label>Index</ion-label>
                </ion-item>
                <ion-item (click)="navigate('/home')">
                    <ion-icon slot="start" name="person-circle-outline"></ion-icon>
                    <ion-label>Home</ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
    <ion-footer>
        <ion-list>
            <ion-menu-toggle>
                <ion-item (click)="logout()" lines="none">
                    <ion-icon slot="start" name="log-out-outline"></ion-icon>
                    <ion-label>Cerrar sesión</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-item lines="none">
                <ion-label>
                    <small>Medicamentos APP - Equipo sepa</small>
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-footer>
</ion-menu>
<!-- </ion-split-pane> -->