<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Detalle Medicamento</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="medicamento">
        <img [src]="medicamento.imagen">
        <ion-card-header>
            <ion-card-title> {{ medicamento.nombre }} </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-text>
                {{ medicamento.descripcion }}
            </ion-text>
            <br>
            <ion-text>
                <strong>Precio: {{ medicamento.precio | currency }} </strong>
            </ion-text>
            <br>
            <ion-text>
                <strong>Disponible:  {{ medicamento.stock }} </strong>
            </ion-text>
            <br>
            <ion-text>
                <strong>Fecha de caducidad: {{ medicamento.caducidad | date }} </strong>
            </ion-text>
            <br>
            <ion-text>
                <strong>Vendido por: <u> {{ medicamento.farmacia.nombre }} </u> </strong>
            </ion-text>
            <br>
            <ion-text>
                <strong>Cantidad: {{ cantidad }}</strong>
            </ion-text>
            <br>
            <ion-text>
                <strong>Total: {{ precio | currency }} </strong>
            </ion-text>
            <ion-text>
                <ion-range min="1" [max]="medicamento.stock" step="1" pin="true" snaps="true" color="dark" (ionChange)="onChange($event)">
                    <ion-label slot="start">1</ion-label>
                    <ion-label slot="end"> {{ medicamento.stock }} </ion-label>
                </ion-range>
                <!-- <ion-button (click)="substractCantidad()" size="small" color="dark">
                    <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
                </ion-button>
                <ion-button (click)="addCantidad()" size="small" color="dark">
                    <ion-icon name="add-outline" slot="icon-only"></ion-icon>
                </ion-button> -->
            </ion-text>
            <ion-button (click)="comprar()" expand="block" color="success">Comprar</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>