<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>Productos</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="mainM"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <swiper [config]="config">
        <ng-template swiperSlide>
            <ion-card>
                <img src="#" />
                <ion-card-header>
                    <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                    <ion-card-title>Awesome Title</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Awesome content
                </ion-card-content>
            </ion-card>
        </ng-template>
    </swiper> -->
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <h1>Productos principales</h1>
            </ion-col>
            <ion-col size="12">

            </ion-col>
        </ion-row>
    </ion-grid>
    <app-medicamento *ngIf="medicamentosOne.length > 0" [medicamentos]="medicamentosOne"></app-medicamento>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <h1>Otros productos</h1>
            </ion-col>
            <ion-col size="12">
                <app-medicamento *ngIf="medicamentosTwo.length > 0" [medicamentos]="medicamentosTwo"></app-medicamento>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>